/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
}

header {
    background-color: #3498db; /* Bright blue header */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3498db; /* Bright blue text color */
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e74c3c; /* Red hover color */
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db; /* Bright blue footer */
    color: #fff; /* White text color */
}

/* Home Page Specific Styles */
.main-content {
    text-align: center;
}

/* Registration Form Specific Styles */
.registration-form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    color: #333; /* Dark text color */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #3498db; /* Bright blue border color */
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #3498db; /* Bright blue button background color */
    color: #fff; /* White text color */
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e74c3c; /* Red hover color */
}
